/** 
 * my posterous blog's main.css 
 * (http://blog.toshimaru.net)
 **/

* {padding:0;margin:0;}
img {border:0;}
.clear {clear:both;font-size:5px;}
.left {float:left;}
.right {float:right;}
.text-right {text-align:right;}
.center {text-align:center;}
.small {font-size:.857em !important;} /* 12px */
.xsmall {font-size:.786em !important;} /* 11px */
.xxsmall {font-size:9px;}
.normal {font-size:12px !important;}
.big {font-size:14px !important;}
.bigger {font-size:16px !important;}
.black {color:#000;}
.green1,.green1:hover {color:#7ba709;}
.green2,.green2:hover {color:#6f9904;}
.darkgray {color:#333;}
.strong {font-weight:bold;}
.absolute-right {position:absolute;top:0;right:0;}
.white {color:#fff;}
.red {color:#f00;}

header,hgroup,footer,aside,nav,article,section,time {display:block;}

::selection {background: #8CD1D8; }
::-moz-selection {background: #8CD1D8; }

.header-bg {
    left:0;
    height:192px;
    position:absolute;
    right:0;
    top:0;
}

.container {
    margin:0 auto;
    padding:0 20px 70px;
    position:relative;
    width:960px;
    z-index:1;
}

.cw a {
    color:#1e1e1e !important;
    text-decoration:none;
}

    .cw a:hover {
        text-decoration:underline;
    }

#page_header {
    padding:60px 0 40px 160px;
}

    article header h1 {
        font-family:inherit;
        font-size:1.714em;
        font-weight:normal;
        line-height:1em;
        padding:5px 0 30px;
    }
    
        header#page_header h1.header_image {
            padding-left:160px;
        }

header#page_header hgroup {
    margin-left:-50px;
    min-height:65px;
    padding-left:70px;
}

    header#page_header hgroup h1 {
        display:inline;
        font-family:'Cabin Sketch',"Arial Narrow";
        font-size:4em;
        font-weight:normal;
        letter-spacing:-.05em;
        line-height:1em;
        text-transform:uppercase;
    }

    header#page_header hgroup h2 {
        display:inline-block;
        color:#1b1624;
        font-family:Arial, Helvetica, sans-serif;
        font-size:1.714em;
        font-weight:normal;
        margin-top:5px;
        padding-left:5px;
        text-shadow:0 1px 0 rgba(255,255,255,.15);
        filter:dropshadow(color=#5e556f,offX=0,offY=1);
    }

nav {
    float:right;
    padding-top:15px;
}

    nav li {
        display:inline-block;
        font-family:'Cabin Sketch',"Arial Narrow";
        font-size:1.429em;
        list-style:none;
        margin-top:0; /* override default */
        margin-right:20px;
        text-transform:uppercase;
    }
    
    nav li a {
        color:#5f5a57;
        text-decoration:none;
        text-shadow:1px 1px 0 rgba(255,255,255,.75);
        filter:dropshadow(color=#fff,offX=1,offY=1);
    }

nav#navigation ul li a.current {
    font-weight:bold;
}


form.search input.text {
    font-size: 12px;
    padding: 2px 2px 2px 20px;
    border: 1px solid #ccc;
    background:#fff url('../images/search16.png') no-repeat 3px 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

aside#sidebar {
    float:right;
    width:200px;
}

    aside#sidebar a:hover {
        text-decoration:underline;
    }

aside#sidebar section {
    display:block;
    padding:15px 0;
}

    aside section#profile {
        padding: 30px 0px 0px;
    }

    aside#sidebar section ul li {
        font-size:.786em;
        list-style: none;
        line-height:1.2em;
        padding:0 3px;
    }
    
    aside#sidebar section div.archive_list {
      font-size:.786em;      
      line-height:1.2em;
      margin-top:5px;   
      padding:0 3px;           
    }
    
    aside#sidebar section div.archive_list div.archive {
        margin-bottom:5px;        
    }
    
    aside#sidebar section div.archive_list div.inner {
      margin-left:10px;
      margin-bottom:7px;
    }
    
    .profile_image {
        background:#d2cac7;
        -moz-border-radius:5px;
        -webkit-border-radius:5px;
        border-radius:5px;
        margin-bottom:10px;
        padding:7px;
    }
    
    .profile p {
        line-height:1.5em;
        padding-top:5px;
    }
    
    .external {
        padding-top:10px;
    }

#myexternal {
    padding-top:5px;
}
    #myexternal a {
        font-size: 3em;
        margin-right: 8px;
    }

    #myexternal .mytwitter a {
        color: #09C6D6;
        text-decoration: none;
    }

        #myexternal .mytwitter a:hover {
            color: #09DEF1;
            text-decoration: none;
        }

    #myexternal .mygithub a {
        color: #E4993A;
        text-decoration: none;
    }

        #myexternal .mygithub a:hover {
            color: #FAAC49;
            text-decoration: none;
        }

#search {
    padding:15px 0;
}

    #searchbox {
        background:url('../images/search16.png') no-repeat 5px 5px #fff;
        border: 1px solid #ccc;
        -moz-border-radius:4px;
        -webkit-border-radius:4px;
        border-radius:4px;
        font-size:14px;
        padding:3px 5px 3px 23px;
        width:165px;
    }
    
    #searchbox_button {
        font-size:.875em;
        font-weight:bold;
        height:auto;
        margin-top:5px;
        padding:3px 10px;
    }

section#search_results {
    background:#d2cac7;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border-radius:5px;
    border:solid 1px rgba(0,0,0,.35);
    padding:20px;
    margin-bottom:35px;
    margin-left:160px;
}

    section#search_results .submit {
        font-size:.875em;
        font-weight:bold;
        height:auto;
        margin-top:5px;
        padding:3px 10px;
    }
    
    section#search_results h1 {
        padding-bottom:5px;
    }
    
        section#search_results a {
            text-decoration:none;
        }
    
    section#filed_under {
        margin-left:182px;
    }
    
    section#filed_under h1 {
        font-size:1em;
        margin-bottom:25px;
    }
    
    section#search_results ul {}
        
        section#search_results li {
            display:inline-block;
            font-size:.786em;
            list-style:none;
            margin-right:5px;
        }
        
    .back_to_blog {
        display:block;
        font-weight:bold;
        margin-bottom:15px;
        margin-left:182px;
    }
        
        .fav_star {
            z-index:10;
        }

section#contributors li a:first-child {
padding-right:3px;
text-decoration:none;
}

    section#contributors li a img {
        background:#d2cac7;
        border:0;
        -moz-border-radius:3px;
        -webkit-border-radius:3px;
        border-radius:3px;
        height:20px;
        padding:3px;
        vertical-align:middle;
        width:20px;
    }
    
    section#contributors li a {
        vertical-align:middle;
    }

    section#subscriptions {
        padding-bottom:3px !important;
        font-size:.786em;    
    }

        section#subscriptions h1 {
            padding-bottom:5px;
        }

    section#rss {
        padding-top:3px !important;
    }

    section#subscriptions a {
        font-size:1em;
        height:14px;
    }

    section#rss a {
        display:block;
        font-size:.786em;
        height:14px;
        padding-left:18px;
    }

    section#subscriptions .subscribe-site {
        background:url('../images/favicon.png') no-repeat -1px -1px;
    }

    section#subscriptions .subscribe-site div {
        padding-left:18px;
    }

    section#rss a {
        background:url('../images/feed-icon-14x14.png') no-repeat -1px -1px;
    }

section.statistics {
    font-size: 10px;
}

section#tags ul {
    line-height:1.75em;
}

    section#tags li {
        background:#FFD7F5;
        border-top:solid 1px rgba(255,255,255,.5);
        border-bottom:solid 2px rgba(0,0,0,.3);
        display:inline;
        border-radius: 8px;
    }
    
    section#tags li.selected a {
        padding:1px 3px;
        font-weight:bold;
    }
    
        section#tags li a:hover {
            text-decoration:none;
        }
    
        section#tags li.selected a:hover {
            cursor:pointer;
        }
    
section#fans {
}

    section#fans h1 {
        font-size:.786em;
    }

    section#fans li {
        list-style:none;
    }

        section#fans li a img {
            background:#d2cac7;
            -moz-border-radius:3px;
            -webkit-border-radius:3px;
            border-radius:3px;
            -moz-box-shadow:0 0 3px rgba(0,0,0,.3);
            -webkit-box-shadow:0 0 3px rgba(0,0,0,.3);
            box-shadow:0 0 3px rgba(0,0,0,.3);
            height:20px;
            padding:2px;
            vertical-align:middle;
            width:20px;
        }

article header aside.sms {
    font-size: 11px;
}

footer section.locations h1 {
    font-weight: normal;
    line-height: 21px;
    margin-top: 0px;
}

input, select, textarea {
    font-size: 1.6em;
    line-height:1.3em !important;
    padding: 5px;
}

input[type='text'], input[type='password'], select, textarea {
    background-color: #fff;
    border: 1px solid #ccc;
}

input[type='button'], input[type='submit'] {
    height: 2em;
    font-size: 1.4em;
    color: #000;
    margin-top: 10px;
}

section.share {
    margin-bottom: 18px;
}

#post_column {
    float:left;
    width:700px;
}
        
    div#articles {
    }
        
        .article-frame .meta {
            font-size:.7em;
            left:0;
            position:absolute;
            text-align:center;
            filter:dropshadow(color=#fff,offX=1,offY=1);
            top:7px;
            left:50px;
            width:110px;
            height:110px;
            border-radius:55px;  
            -moz-border-radius:55px;  
            -webkit-border-radius: 55px;
            background-color: #36BBCE;
        }
        
            .article-frame .meta a {
                color:#fff;
                text-decoration:none;
            }
    
    .meta .day, .meta .month, .meta .year {
        display:block;
    }
    .meta .day {
        font-size:1.6em;
    }
            
            .article-frame time {
        padding-top: 28px;
            }
            
                .article-frame time div {display:inline;}
            
            .comment-count-line {
                background:#b5adac;
                display:inline-block;
                height:1px;
                margin:15px 0;
                width:41px;
            }
            
            .meta h1 {
                background:url(/themes/vintage/comment-icon.png) no-repeat;
                display:inline-block;
                font-size:28px;
                height:37px;
                line-height:5px;
                padding-top:25px;
                padding-right:1px;
                position:relative;
                text-align:center;
                width:40px;
            }
            
                .meta h1 a {
                    color:#4d4d4d !important;
                    display:table-cell;
                    font-family:"Arial Narrow";
                    font-weight:normal;
                    letter-spacing:-.05em;
                    height:37px;
                    position:absolute;
                    text-shadow:0 1px 0 rgba(255,255,255,.15);
                    filter:dropshadow(color=#5e556f,offX=0,offY=1);
                    top:16px;
                    width:40px;
                    vertical-align:middle;
                }
    
        article {
            padding:20px 30px 45px;
            position:relative;
            width:500px;
        }
        
            article header {
            }
            
            article header section {
                min-height:40px;
                padding-top:17px;
            }
            
            article header aside.sms {
                float:left;
                padding-top:10px;
            }
        
        div.editbox {
            height:16px;
            position:absolute;
            top:0;
            visibility:hidden;
        }
        
            div.editbox ul.mini_commands {
                margin-top:0;
            }
            
            article:hover div.editbox {
                visibility:visible;
            }
            
        article div.body {
            /* padding-top:10px; */
        }
        
            article div.body div.inner {
                line-height:1.75em;
            }
            
                .inner iframe,.inner .posterous_video_main_div,.inner .posterousGalleryMainDiv,.inner img {
                    border:solid 10px #ede9de;
                    line-height:1em;
                    -moz-box-shadow:0 3px 8px rgba(0,0,0,.25);
                    -webkit-box-shadow:0 3px 8px rgba(0,0,0,.25);
                    box-shadow:0 3px 8px rgba(0,0,0,.25);
                    max-width:480px;
                }
            
                .inner object,.inner embed {
                    border:solid 10px #ede9de;
                    line-height:1em;
                    -moz-box-shadow:0 3px 8px rgba(0,0,0,.25);
                    -webkit-box-shadow:0 3px 8px rgba(0,0,0,.25);
                    box-shadow:0 3px 8px rgba(0,0,0,.25);
                    display:block;
                }
                
                    .inner object embed {
                        border:none !important;
                        line-height:normal !important;
                        -moz-box-shadow:none !important;
                        -webkit-box-shadow:none !important;
                        box-shadow:none !important;
                    }
                
                    .inner .posterousGalleryMainDiv .img,.posterousGalleryMainDiv .posterousGalleryMainlink img,.inner #mainImage {
                        border:none !important;
                        line-height:normal !important;
                        -moz-box-shadow:none !important;
                        -webkit-box-shadow:none !important;
                        box-shadow:none !important;
                        width:auto !important;
                    }
                
                .posterousGalleryMainDiv {
                    background:#f4f1e9
                }
                    
                    .posterousGalleryNavigationDiv img,.posterousGalleryThumbnailsDiv img,.gallerySelectedImage img {
                        border:none;
                        width:auto;
                    }
                    
                    a.gallerySelectedImage img {
                        border:solid 2px #333;
                    }
                    
                    .posterousGalleryMainDiv .show {
                        line-height:2em;
                    }
            
                article div.body div.inner > :first-child {
                    margin-bottom:0;
                    margin-top:0;
                }
                
                article div.body div.inner > p:first-child {
                    /* margin-top:15px; */
                }
                
                article div.body p, article div.body blockquote {
                    margin:15px 0 18px;
                }
                
                article div.body div.posterousGalleryMainDiv {
                    margin:0 0 15px;
                }
                
                div.posterousVideoMainDiv {
                    margin:0;
                }
                
                .posterousGalleryMainDiv a.posterousGalleryMainlink {
                    text-decoration:none !important;
                }
                
                article div.body div.inner a {
                    text-decoration:underline;
                }
                
                    article div.body div.inner a:hover {
                    }
                    
                    article div.body div.inner ul,article div.body div.inner ol {
                        padding-bottom:5px;
                        padding-left:30px;
                    }
                
                    
                blockquote {
                    border-left:solid 4px #c2b8b4 !important;
                }

                
        article footer {
            margin-top:10px;
            padding-top:10px;
            position:relative;
        }

            footer section {
                margin-bottom:10px;
            }
                    
        footer section.comments_box {
            border-top:solid 3px #d1c5be;
            margin-top:10px;
            padding-top:10px;
        }

            footer section.comments h1 {
                font-size:.857em;
                font-weight:normal;
            }
            
                footer section.comments h1 a {
                    text-decoration:none;
                }
            
            div.comment_none_yet_msg {
                font-style:italic;
                font-weight:normal;
                margin-top:5px;
            }
            
            footer section.comments section h1 {
                font-size:1em;
                font-weight:bold;
            }
            div.comment {
            }
            
            div.comment b {
                font-weight:normal;
            }

            div.comment_label {
                padding-top: 2px;
                margin-top: 0px;
            }
            
            div.comment_date {
            }
            
            div.commentunit {
            }
            
            .comment_profile_description {
                font-weight:bold;
            }
            
                .comment_profile_description div {
                    font-weight:normal;
                }
            
            div.comment_value {
            }

            div.comment_avatar {
                margin-top:10px;
            }

            div.commentunit div.profile_icon {
                margin-top:5px;
            }

            div.commentname {
                margin-bottom:5px;
            }

            div.comment_loading_div {
            }
            
            div.comment_area {
                color:#d3d3d3 !important;
                clear:left;
                float:left;
                padding-top:20px;
            }
            
                .comment_hide_button {display:none !important;}
            
                
                footer section.comments h4 {
                }
                
                .comment_value input[type="submit"] {
                    font-size:.875em;
                    font-weight:bold;
                    height:auto;
                    margin-top:5px;
                    padding:3px 10px;
                }
                
                footer section .comment_loading_div {
                    background:url(/themes/vintage/loading1-white.gif) no-repeat;
                    display:inline-block;
                    height:11px;
                    width:16px;
                }
                
                footer section .comment_loading_div {
                    margin-top:5px;
                }
                
                    footer section .comment_loading_div img {
                        display:none;
                    }

div.posterous_comments h4, div.spanningheader h4 {
    margin:0;
}

nav.p_response_widget{float:none;}
.p_responses_list .p_info time {color:#666;}
.p_comment_form {margin-bottom:20px;}
.p_responses_list article {border-left:none;padding:0px;}
div.p_response_container header h1 {
  font-size: 12px;
  letter-spacing: 0;
  display: block;
  font-weight: bold;
  color: #666;
  line-height: 1.5em;
  padding-bottom: 0px;
  margin-top: 0;
  width:175px;
  text-transform: none;
  text-align: left;
  font-family: "Helvetica Neue",Arial,Helvetica;
}

    footer section.tags h1 {
        display:inline;
        font-size:11px;
        margin:0;
        padding-right:5px;
    }
    
    footer section.tags h1 span {
        font-weight:normal;
    }
    
    footer section.tags ul {
        display:inline;
        margin:0;
    }
    
    footer section.tags ul li {
        display:inline;
        list-style:none outside none;
        padding-right:10px;
    }
    
    
    footer section.locations {
        margin-bottom:0;
    }
    
    footer section.locations h2 {
        font-size:11px;
        margin-top:0;
    }
    
    footer section.locations ul {
        display:block;
        margin:0;
    }
    
    footer section.locations ul li {
        display:block;
        list-style:none outside none;
    }
    
    footer section.locations div.location_detail {
        background:#D1C5BE;
        border-top:solid 1px #fff;
        border-bottom:solid 1px #fff;
        margin:10px 0;
        overflow:auto;
        padding:8px;
    }
    
    footer section.locations div.location_detail div.map {
        float:left;
        height:150px;
        width:300px;
    }
    
    footer section.locations div.location_detail div.summary {
        float:right;
        width:172px;
    }
    
    footer section.share, footer section.tags, footer section.locations {
        display:block;
    }

footer#pagination {
    overflow:hidden;
    padding:50px 0 50px 160px;
}

    .pagination {
        margin:3px;
        padding:3px;
        text-align:center;
    }
    
    .pagination span.disabled {
        border:solid 1px rgba(0,0,0,.25);
        color:rgba(0,0,0,.25);
        margin:2px;
        padding:8px 8px;
    }
    
    .pagination a:hover, .pagination a:active {
        border:solid 1px #000;
        color:#000;
    }
    
footer section.share {
height:25px;
}

/* misc */

div.ajaxResult {
color:#009900;
font-size:10px;
margin-bottom:10px;
}

    div.retweet {
    background:url('../images/twitter11.png') no-repeat scroll left center transparent;
    display:inline-block;
    min-height:11px;
    min-width:1px;
    padding-left:15px;
    vertical-align:middle;
    }
    
    .twitter-share-button {
    float:left;
    }
    
    div.facebook_like {
    display:inline;
    float:left;
    margin-left:5px;
    position:relative;
    }

table {
border:medium none;
border-spacing:0;
font-size:11px;
line-height:16px;
margin:10px 0 0;
text-align:left;
}

    td {
    border-color:-moz-use-text-color -moz-use-text-color #EEEEEE;
    border-style:none none solid;
    border-width:medium medium 1px;
    margin:0;
    padding:4px;
    vertical-align:top;
    }
    
    th {
    border-color:-moz-use-text-color -moz-use-text-color #CCCCCC;
    border-style:none none solid;
    border-width:medium medium 1px;
    font-weight:bold;
    padding:4px;
    text-align:left;
    vertical-align:bottom;
    background-color:#544;
    color:white;
    }

hr {
border:1px solid #DDDDDD;
margin-bottom:10px;
margin-top:10px;
}

div.posterousListComments div.comment, div.posterousAddNewComment div.comment, div.posterousAddNewComment div.comment_value {
}

section.private {
    left:-35px;
    position:absolute;
    top:5px;
}

article header section.private {
    min-height:0; /* overwrite default */
    padding-top:0; /* overwrite default */
}

section.private:hover div.private_post_message {
display:block;
}
div.private_post_message {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
border: solid 1px rgba(0,0,0,.75);
background:rgba(0,0,0,.25);
color:#fff;
display:none;
padding:10px;
position:absolute;
right:-5px;
text-align:left;
top:-5px;
width:100px;
}
div.private_post_message h1 {
float:none;
font-size:11px;
margin:0 0 5px;
padding:0;
width:auto;
}
div.private_post_message p {
font-size:10px;
margin:0;
}

div.posterous_retweet_widget {
margin:0 0 10px;
}

div.p_like_failed {min-height:150px;}

article h3 {
    padding:15px 0px 0px;
}
#comment_body {
    background: #fff;
}
